// меняем стилизацию квадратиков в checkbox

.checkbox{
    position: relative;
    display: block;
    line-height: 20px;
    padding-left: 28px;

    &__input{
        -webkit-appearance: none; // чтобы удаление квадратиков работало в safari
        -moz-appearance: none; // чтобы удаление квадратиков работало в mozilla
        appearance: none;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $colorBackgroundLight;
        border-radius: 4px;

        &:after{ // используем псевдоэлемент after для создания галочки
            content: "";
            position: absolute;
            inset: 0; // все стороны 0
            display: block;
            background: url("/img/check.png") no-repeat center;
            opacity: 0; // сначала делаем галочку прозрачной
            transition: opacity 0.2s ease-in-out; // для плавного перелючения галочки
        }

        &:checked:after{
            opacity: 1; // при нажатии галочка появляется
        }

        &:focus-visible{
            outline: none; // убираем обводку при фокусе
            box-shadow: 0px 2px 10px rgba(166, 173, 255, 0.25);
        }

        &:hover:not(:disabled){
            outline: none; // убираем обводку при фокусе
            box-shadow: 0px 2px 10px rgba(166, 173, 255, 0.6);
        }

        &:disabled{
            background-color: $colorTextGray;
        }
    }


}
