.filter{
    position: relative;

    &__reset{
        position: absolute;
        top: 7px;
        right: 0;
        color: $colorTextGray;
    } 

    &_title{
        font-size: 20px;
        font-weight: 400;
    }
    
    &__form{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 32px;
    }

    &__fieldset{
        display: flex;
        flex-direction: column;
        align-items: start; // убираем возможность у checkbox кликать по всей области контейнера (не только в квадратике)
    }

    &__legend{
        margin-bottom: 12px;
    }

    &__select{
        width: 100%;
    }

    &__range{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__label:not(:last-child){
        margin-bottom: 8px;
    }

    &__input{
        flex: 1 1 50%;
        width: 100%;
        padding: 0 16px;
        height: 32px;
        border: 0;

        &::placeholder{
            color: $colorTextGray;
        }
    }

    &__checkboxes{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__btn{
        padding: 8px 24px;
        border-radius: 4px;
        background-color: $colorBtns;
    }
}

@media(max-width: 940px){
    .filter{
        &_title{
            position: fixed;
            transform: scale(0);
        }

        &__input{
            min-width: 135px;
        }

        &__checkboxes{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 24px;
            justify-content: space-between;
        }

        &__btns{
            display: flex;
            gap: 16px;
            align-items: center;
        }

        &__reset{
            position: static;
        } 
    }
}