.header {
    padding: 40px 0; // сверху 40, снизу 100 - учесть в следующем блоке!

    &__container{ // распределяем элементы по разным сторонам как в макете
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link{
        padding: 12px 32px;
        border-radius: 8px;
        background: $colorBtns;
        font-size: 20px;
    }
}

@media(max-width: 1140px){
    .header {
        padding: 32px 0 40px; 
    }
}

@media(max-width: 940px){
    .header {
        padding: 24px 0 30px; 

        &__link{
            padding: 10px 16px;
            font-size: 14px;
        }
    }
}

@media(max-width: 640px){
    .header {
        padding: 24px 0 20px; 

        &__link{
            display: none;
        }
    }
}
