.vacancies{
    padding: 50px 0;
    
    &__container{
        display: flex;
        align-items: start; // прижимаем весь контент к верху
        gap: 24px 20px;
    }

    &__filter-btn{
        color: $colorTextBlue;
        display: none;
    }

    &__filter{
        // flex-basis: 280px; // задаёт базовый размер флекс элемента по основной оси
        // flex-grow: 0; // чтобы контент не увеличился
        // flex-shrink: 0; // чтобы контент не уменьшался
        flex: 0 0 280px; // объединение в одну строку трех предыдущих стилей
    }

    &__cards{
        flex-basis: 100%; // занимает все свободное пространство блока
    }
}

@media(max-width: 1140px){
    .vacancies{
        padding: 40px 0;
    }
}

@media(max-width: 940px){
    .vacancies{
        padding: 30px 0;

        &__container{
           flex-direction: column;
           row-gap: 40px;
        }

        &__filter-btn{
            display: flex;
            align-items: center;

            &::after{
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background: url("/img/arrow_filter.svg") no-repeat center;
            }

            &_active::after{
                transform: rotate(180deg);
            }
        }

        &__filter{
            width: 100%;
            flex-basis: auto;
            height: 0;
            overflow: hidden; // скрываем контент
            transition: height 0.4s ease-in-out;

            &_active{
                height: auto;
            }
        }

        &__cards{
            width: 100%;
            padding-top: 8px;
        }
    }
}

@media(max-width: 640px){
    .vacancies{
        padding: 30px 0;

        &__container{
           flex-direction: column;
           row-gap: 40px;
        }
    }
}