.vacancy{
    border-radius: 16px;
    background-color: $colorBackgroundLight;
    padding: 16px;
    height: 100%; // если меняется размер какой то карточки, то все будут подстриваться под нее
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
    border: 2px solid transparent;
    transition: background-color 0.2s ease-in-out;


    &__img{
        max-height: 44px;
        margin-bottom: 12px;
        display: block; // меняем со строчной на блоковую - тогда пропадает отступ снизу
    }

    &__company{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    &__title{
        display: inline-block;
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 4px;
        background-color: $colorBackgroundVacancy;  
        margin-bottom: 8px;  
    }

    &__field{
        color: $colorTextGray;
    }
}

.vacancy:focus-visible{
    border-color: #a6adff;
}

.vacancy:hover{
    background-color: #F9FAFF;
}

